<html>
  <head><title> Layout </title> </head>
  <body>
    <ul>
      <li><a href="/"> Home </a></li>
      <li><a href="/novo_post"> Criar novo post </a></li>
      <li><a href="/posts"> Ver todos os posts </a></li>
      <li><a href="/procurar"> Buscar um post </a></li>
    </ul>
    <h1> Blog do curso </h1>
    <p> Para acessor os recursos do blog, veja o menu acima </p>
  </body>
</html>
