<html>
  <head><title> Layout </title> </head>
  <body>
    <ul>
      <li><a href="/"> Home </a></li>
      <li><a href="/novo_post"> Criar novo post </a></li>
      <li><a href="/posts"> Ver todos os posts </a></li>
      <li><a href="/procurar"> Buscar um post </a></li>
    </ul>

    <form action="/procurar" method="post">
      Buscar por: <input name="busca_titulo" type="text" />
      <input type="submit" value="Procurar" />
    </form>

  </body>
</html>
