<form method="post" action="/posts">
  <label> Titulo: </label>
  <input type="text" id="titulo" name="titulo" value= "" /> <br />
  <label> Conteudo: </label>
  <textarea rols="50" cols="50" name="conteudo" id="conteudo"> </textarea>
  <input type="submit" value= "Criar" />
</form>
