<ol>
<% @tag.posts.each do |post| %>
    <li>
      <label> Post: </label>
      <%= post.titulo %> <br />
      <a href= "/posts/<%= post.id %>">Detalhes</a> 
    </li>
<% end %>
</ol>

<a href='/'> Back </a>
