<% @tag.posts.each do |post| %>
  <ol>
    <li>
      <label> Post: </label>
      <%= post.titulo %> <br />
      <a href= "/posts/<%= post.id %>">Detalhes</a> 
    </li>
  </ol>
<% end %>

<a href='/'> Back </a>
